<a href="https://colab.research.google.com/github/JHORIZ-RODEL-AQUINO/CPEN-21A-CPE-1-2/blob/main/Loop_Statement.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##For Loop

In [9]:
week = ["Sunday", "Monday", "Tuesday", "Wednesday", 
        "Thursday", "Friday", "Saturday"]
for x in week:
  print(x)

Sunday
Monday
Tuesday
Wednesday
Thursday
Friday
Saturday

The Break Statement

In [10]:
for x in week:
  print(x)
  if x == "Thursday":
    break

Sunday
Monday
Tuesday
Wednesday
Thursday

In [11]:
# The Break Statement
for x in week:
  if x == "Thursday":
    break
  print(x)

Sunday
Monday
Tuesday
Wednesday

Looping Through a Sstring

In [12]:
for x in "Programming with Python":
  print(x)

P
r
o
g
r
a
m
m
i
n
g

w
i
t
h

P
y
t
h
o
n

The Range Function

In [13]:
for x in range(10):
  print(x)

0
1
2
3
4
5
6
7
8
9

Nested Loops

In [14]:
adjective = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]

for x in adjective:
  for y in fruits:
    print(x, y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

##While Loop

In [23]:
i = 10
while i > 6:
  print(i)
  i -= 1 # Assignment Operator

10
9
8
7

The Break Statement

In [24]:
i = 10
while i > 6:
  print(i)
  if i == 8:
    break
  i -= 1

10
9
8

The Continue Statement

In [27]:
i = 10
while i > 6:
  i -= 1
  if i == 8:
    continue
  print(i)

9
7
6

The Else Statement

In [28]:
i = 10
while i > 6:
  i -= 1
  print(i)
else:
  print("is no longer greater than 6")

9
8
7
6
is no longer greater than 6

Application 1

In [39]:
#For Loop
value_word = ["value"]
numbers = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

for a in value_word:
  for b in numbers:
    print(x, y)

value 0
value 1
value 2
value 3
value 4
value 5
value 6
value 7
value 8
value 9
value 10

In [44]:
#While Loop
c = 0

while c <= 10:
  print("value", c)
  c += 1

value 0
value 1
value 2
value 3
value 4
value 5
value 6
value 7
value 8
value 9
value 10

Application 2

In [45]:
i = 20
while i > 3:
  i -= 1
  print(i)
  if i == 4:
    break

#else:
#  print("i is no longer greater than 3")

19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4