<a href="https://colab.research.google.com/github/JHORIZ-RODEL-AQUINO/CPEN21A_AQUINO_BSCpE1-2/blob/main/WEEK7_AQUINO_BSCpE1_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Python Indentation

In [4]:
if 10 > 5:
  print("Ten is greater than five!")

Five is greater than two!

### Python Comments

In [5]:
#This is a comment

### Variable Naming Convention

In [ ]:
#RULES FOR NAMING PYTHON VARIABLE
  #it must start with a letter or the underscore character
  #it cannot start with a number
  #it can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ )
  #it is case-sensitive (myVar, myvar, MYVAR, mYVaR, Myvar are all different variables)

### Storing Data Values in Variables

In [63]:
x = 1
y = 2
z = 3
my_Age = "19"
favoriteCOLOR = "RED"
name = "Jhoriz Rodel"

print(x)
print(y)
print(z)
print(my_Age)
print(favoriteCOLOR)
print(name)

1
2
3
19
RED
Jhoriz Rodel

### Multiple Variables

In [65]:
x,y,z=1,2,3
print(x)
print(y)
print(z)

1
2
3

In [50]:
a,b,c="two","four","six"
print(a)
print(b)
print(c)

two
four
six

### Casting

In [51]:
j = "jhoriz" #This is a type of string
j = int(22)

print(j)  #The recent value of the variable will be prioritize, thus it should be the integer 22

22

In [44]:
j = float(22)

print(j)

22.0

### Data Type Function

In [53]:
c = 2
p = "two"
e = 2.0

print(type(c))
print(type(p))
print(type(e))

<class 'int'>
<class 'str'>
<class 'float'>

### String Variables

In [ ]:
#Note: Both Single and Double Quoted String are correct

In [54]:
#Double Quoted
g = "Rodel"

print(g)

Rodel

In [55]:
#Single Quoted
g = 'Rodel'

print (g)

Rodel

### One Value to Multiple Variables

In [56]:
m = n = o = "five"

print(m)  
print(n)
print(o)

five
five
five

### Output Variables

In [67]:
my_Age = "19"
favoriteCOLOR = "RED"
name = "Jhoriz Rodel"

print("I am " + name + ", " + my_Age, "years old sutdent, and my favorite color is " + favoriteCOLOR + ".")

I am Jhoriz Rodel, 19 years old sutdent, and my favorite color is RED.

In [72]:
#Other Way
a = "I am Jhoriz Rodel,"
b = " 19 years old sutdent,"
c = " and my favorite color is RED."
d = a + b + c

print(d)

I am Jhoriz Rodel, 19 years old sutdent, and my favorite color is RED.

### Arithmetic Operations

In [77]:
x = 10
y = 7

print (x - y)

3

In [76]:
x = 10
y = 7
difference = x - y

difference

3

### Assignment Operators

In [81]:
x=5
x+=5  #This is the same as x = x + 5, where x = 5, hence x = 5 + 5

print(x)

10

In [84]:
num1=5
num1-=2 #This is the same as num1 = num1 - 2, where num1 = 5, hence num1 = 5 - 2

print(num1)

3

### Comparison Operators

In [88]:
r = 5
t = 15
x = 10
v = 5

print(r>t)
print(t>x)
print(r==v)

False
True
True

### Logical Operators

In [94]:
r = 5
t = 15
x = 10
v = 5

print(r<t and r==v)     #both are true, hence it is TRUE
print(t<x and v<x)      #v<x is true, but t<x is false, hence it is FALSE
print(t<x or v<x)       #one of them is true, hence it is TRUE
print(not(t and r==v))  #since both are true, the output should be reversed, hence it is FALSE

True
False
True
False

### Identity Operators

In [97]:
a,b,c=3,6,9

print(a is c)       #they are not equal, hence FALSE
print(a is not b)   #they are not equal, so a is not b, hence TRUE

False
True